<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfuDGBRgjt2utEU86-UjSS2YJKmnsp_NY</string>
	<key>GCM_SENDER_ID</key>
	<string>1069387055155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Krishna.Dekrypt</string>
	<key>PROJECT_ID</key>
	<string>dekrypt-ecf59</string>
	<key>STORAGE_BUCKET</key>
	<string>dekrypt-ecf59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069387055155:ios:12d4282d1165c5365b2346</string>
</dict>
</plist>